@font-face {
  font-family: 'Inter';
  src: url(./Inter/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(./Inter/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url(./Inter/Inter-Black.ttf) format("truetype");
  font-weight: 900;
}